[2016-12-16 21:17] moorepants opened #1 "The UCD theme (copied from pumpkin) erases the map pins"
For some reason the map pins disappear if I use the custom theme.

[2016-12-16 21:18] moorepants opened #2 "Create an abstract submission page"
- [x] Purchase wp abstracts
- [x] install wp abstracts
- [x] Create extended abstract word template
- [x] Create extended abstract libreoffice template
- [ ] Create extended abstract latex template
- [x] Make up some instructions
- [x] Enable self registration (protect against spam registrations: http://www.wpbeginner.com/plugins/how-to-stop-spam-registrations-on-your-wordpress-membership-site/)

[2016-12-16 21:18] moorepants opened #3 "Setup a backup routine for the website"
- Updraftplus seems like a good option

[2016-12-16 21:22] moorepants opened #4 "Make sure UCD favicon went through to live site"

[2016-12-16 21:22] moorepants opened #5 "Make the title more readable over the bike lane image on the main page"

[2016-12-16 21:23] moorepants opened #6 "Fix Hyatt hotel coordinates"

[2016-12-21 16:44] moorepants opened #7 "Add footer"
include link to admin

[2016-12-21 18:39] #4 closed

[2016-12-21 18:46] moorepants commented on #5
This can be added to the styles.css for improvement:
[code]

Also in layout.css in the vertoh theme disable line 1049:

[code]

[2016-12-21 18:54] moorepants opened #8 "Switch to Vertoh Child theme"
This will allow us to edit the style.css file without updates to Vertoh screwing things up. But note that switching to Vertoh Child means that you have to redo all widgets.

[2016-12-21 19:34] moorepants commented on #5
With white for all the text colors, darkened background image, and this css:
[code]
I get:
![selection_081](https://cloud.githubusercontent.com/assets/276007/21403384/6bd1176c-c771-11e6-9d1b-d58ef3677f0c.jpg)

[2016-12-21 20:35] moorepants commented on #1
To create a new vertoh scheme you must do this:

- create a new directory `<theme>/css/schemes/<new scheme>`
- copy layout.css from an existing scheme into `<theme>/css/schemes/<new scheme>` and modify as needed
- set main color for the new scheme in `<theme>/functions.php`
- add the new scheme to the list in `ef_options.php`
- create a new pin png in `<theme>/images/schemes/<new scheme>/icon-map-

[2016-12-21 22:37] moorepants commented on #1
This is now fixed via the above instructions. I was missing the new png file.

[2016-12-21 22:37] #1 closed

[2016-12-21 23:26] moorepants opened #9 "The event timer does show up on the live website"
This works on my local installation. It seemed to stop working after an early Vertoh update.

[2016-12-21 23:28] #7 closed

[2016-12-21 23:29] moorepants commented on #5
I think this is good enough for now. Can update if there are more comments.

[2016-12-21 23:29] #5 closed

[2016-12-21 23:38] #9 closed

[2016-12-22 22:22] #6 closed

[2016-12-22 23:48] moorepants opened #10 "Create a committee page"
Like:

https://events.unibo.it/icsc2016/scientific-committee
https://events.unibo.it/icsc2016/committee

[2016-12-22 23:48] moorepants opened #11 "Create a lodging and travel page"
We need info about lodging options:

- [x] Hyatt will have some reserved rooms for conference
- [x] Halmark Inn will have reserved rooms

[2017-01-06 02:34] moorepants opened #12 "Fix horizontal line below sponsors"
From Deb:
![selection_085](https://cloud.githubusercontent.com/assets/276007/21705575/a47b39de-d375-11e6-961c-715f51d97759.jpg)

[2017-01-06 02:35] moorepants opened #13 "Move title up higher on front page for small screens"
From Deb:
![selection_084](https://cloud.githubusercontent.com/assets/276007/21705587/b877d0aa-d375-11e6-88bf-0fc727f21a2b.jpg)

[2017-01-06 02:36] moorepants opened #14 "Add menu items that point to the sections of the front page"
I can add menu items at the top for each of the sections like in the demo (http://showthemes.com/vertoh-demo/). See the "quick nav" menu item. That is the easiest thing to do. I can also add links in the footer. If that doesn't work we can think about adding them elsewhere which will take a bit more work.

[2017-01-06 02:36] moorepants opened #15 "Make the map smaller"

[2017-01-08 23:38] moorepants commented on #14
I added a "Quick Nav" menu that helps navigate the front page.

[2017-01-08 23:38] #14 closed

[2017-01-08 23:51] moorepants opened #16 "Create a mailchimp template for us to use"

[2017-01-09 01:05] moorepants opened #17 "Change the logo to the past colors"

[2017-01-09 01:06] moorepants commented on #2
We cna pay $39 for WP Forms basic for a year to get reg protection, or maybe this: https://wordpress.org/plugins/stop-spammer-registrations-plugin.

Reg captcha options:
- https://wordpress.org/plugins/bwp-recaptcha/ (seems to not work with latest wordpress version)
- This basic google captcha looks good: https://wordpress.org/plugins/google-captcha/

[2017-01-09 01:43] moorepants commented on #2
To enable captcha on the wpabstracts form I can add this line:

[code]
to line 409 of `wpabstracts_pro/inc/wpabstracts_functions.php`.

[2017-01-09 01:48] moorepants commented on #2
Note that now I turned off the recaptcha on login so that it works with the `wp_form_login()` function that wpabstracts uses. There may be a way to integrate the captcha in the wpabstracts code to make things all work together. I'm not sure why `wp_login_form()` doesn't use the google recaptcha plugin stuff.

[2017-01-09 02:01] moorepants opened #18 "The quick nav submenu doesn't work when in mobile mode"
It works on the vertoh demo, so I must be doing something slightly different.

[2017-01-09 03:19] moorepants commented on #16
Done

[2017-01-09 03:19] #16 closed

[2017-01-09 03:24] moorepants opened #19 "The captcha plugin is screwing with the vertoh css"
![selection_087](https://cloud.githubusercontent.com/assets/276007/21756592/fba08926-d5d7-11e6-8427-2c65ac27c38a.jpg)

Height of the text box is squished due to similar named css attributes.

[2017-01-09 18:46] moorepants commented on #19
Disable captcha on contact form to fix.

[2017-01-09 18:46] #19 closed

[2017-01-10 20:49] moorepants opened #20 "Add extra emails to mailchimp"
- [x] The extra ones Lucca sent.
- [x] do a google scholar search for emails (start with citations to city cycling)
- [x] Add Davis and Sacramento people related to bicycling.
  - [x] SABA
  - [x] City bike/ped coordinators
  - [x] City council/mayor
  - [x] Davis bike club
  - [x] Davis bicycles!

[2017-01-10 21:05] moorepants opened #21 "Send blurb to ECF folks"
They said they could advertise for us.

[2017-01-11 15:21] moorepants opened #22 "Create a social program page"
- bicycle hall of fame dinner Friday
  - outdoor buffet style dinner
- bike tour (starting at farmer's market)
  - tour of davis bicycle infastructure
  - [ ] Jason should send the tour description to Rayming
- theme dinners Thursday
  - revserve about 5 differents tables at restaurants, with a conference theme for each one

[2017-01-11 15:23] moorepants opened #23 "Create a how to get here page"
There are a number of pages on the Davis Wiki that already explain how to get here: https://localwiki.org. Point to them and glean the main info to add to our website.

[2017-01-11 15:23] moorepants opened #24 "Add all the ticket prices to the website."

[2017-01-13 06:31] moorepants opened #25 "The "view all news" on the front page goes to category/blog, should go to category/news"

[2017-01-13 17:21] moorepants commented on #24
Done.

[2017-01-13 17:21] #24 closed

[2017-01-13 17:25] moorepants opened #26 "Update the Committees page"
See: http://icsc2017.ucdavis.edu/committees/

- [x] Collect photos from the steering committee and create a nice table with their information (like the organizing committee.
- [x] Find out who are going to be on the scientific committee from Mont and create a third committee section with a table with their info. Some will be repeats of: https://events.unibo.it/icsc2016/scientific-committee
- [x] A

[2017-01-13 17:26] moorepants commented on #26
@abemckay Can you take this issue?

[2017-01-13 17:29] moorepants opened #27 "Create a social media presence"
Main ones:
- [ ] Facebook page (also enable the facebook integration with the website)
- [ ] Twitter account
- [ ] Add the conference hashtag to the website #icsc2017 (make sure it is unique)

Create a document in drive that has all the login information so that others can get in.

Other possibilities:
- [ ] Youtube
- [ ] Linkedin
- [ ] Instagram

[2017-01-13 17:30] moorepants opened #28 "Create mailchimp lists (or segments)"
- [ ] Scientific committee
- [x] Solicitation
- [ ] Volunteers

[2017-01-13 17:31] moorepants opened #29 "Make the site faster"
Some things that are slow:

- [x] Reduce size of front page images
- [ ] Google maps
- [ ] Dreamhost shared server just seems to be slow, but I've had faster WP sites in the past.\
- [x] Get increased memory on server from dreamhost.
- [x] The mysql database and the website files were on servers in CA and VA, now they are all on the CA server. This should speed things up.

Useful sites to check sp

[2017-01-13 17:33] moorepants opened #30 "Improvements to the venue page"
- [x] Add info about conference center and neighboring buildings (mondavi, museum, arboretum)
- [x] Add the hotels that will be available to stay at (Hyatt and check on hallmark)
- [x] Include some tourist attractions in Davis
- [x] Include tourist attractions in surrounding area (Sacramento, etc)
- [x] Include basic info about nearby destinations (SF, Napa, Tahoe, Yosemite, etc)
- [x] Add link to

[2017-01-13 18:10] monthubbard commented on #26
Yes.

[2017-01-13 21:39] moorepants commented on #26
Mont, I'm going to have the student Abe do this one.

[2017-01-13 21:40] moorepants commented on #2
I'm calling this one done. We can add the LaTeX template if someone asks for it. (which that might be me)

[2017-01-13 21:40] #2 closed

[2017-01-13 21:40] #10 closed

[2017-01-13 23:15] abemckay commented on #26
Yes, I can take on this issue, #26. I am planning on searching online for the email addresses of each person on the steering committee, but if either of you already have their emails available and could send them to me, that would work too. (Stefanie de Hair-Bujissen, Marco Dozza, Arend Schwab, Divera Twisk, Luca Pietrantoni, Heiko Johanssen, Otte Dietmar MHH)

@monthubbard do you know who will be

[2017-01-13 23:26] moorepants opened #31 "Role problems with wpabstracts"
wpabstracts takes over the subscriber and editor roles and if you set the settings such that these users can't log in via the backend, then if you have actual editors and subscribers, they can't log in.

[2017-01-13 23:33] monthubbard commented on #26
Abe;

All the steering committee email addresses are on the committee page for the last ICSC

https://events.unibo.it/icsc2016/scientific-committee

I sent out the requests for the scientific committee yesterday and have received replies from about half. Let's give it another day or two and I'll supply you with all the names then. About half are from the last committee (the page in the link above)

[2017-01-13 23:38] moorepants commented on #26
Abe, the steering committee emails are here: http://cyclingsafety.net/committees.php. Note that we should not post their emails on our website, but post their photos and affiliations as we have for the existing organizing committee.

[2017-01-13 23:41] moorepants commented on #31
Note that wp abstracts makes "subscribers" be abstract authors/submitters and "editors" to be abstract reviewers.

[2017-01-13 23:41] abemckay commented on #26
Thanks. I also see that we already have a photo of each of them, from last year's website. If either of you think I should, I could still email each of them and ask if they have another image they would prefer.

Mont, sounds good. I'll wait to hear from you.

[2017-01-13 23:42] moorepants commented on #26
You can use the last year photo. Luca gave me permission to use content from that website. They will email us if they want it changed.

[2017-01-13 23:46] monthubbard commented on #26
I asked them all in the sci com invitation whether it is OK to use last year's photo. Everyone so far has said yes.
Mont

[2017-01-13 23:47] abemckay commented on #31
Jason, I tried logging in through the "Author or Reviewer" and "Administrator Login" links, through http://icsc2017.ucdavis.edu/wp-admin.php and http://icsc2017.ucdavis.edu/wp-login.php. All of them brought me back to the front end. Dang

[2017-01-13 23:48] moorepants commented on #31
Is it still not working? I changed your roles from "editor" to "author" to see if that works.

[2017-01-14 00:01] abemckay commented on #31
Jason, now that you switched my setting to Administrator, I can see the dashboard. (thumbs up)

[2017-01-14 00:02] abemckay commented on #26
Great, thank you Jason and Mont! I'll use last years photos.

[2017-01-14 00:02] moorepants commented on #31
Ok. I've email the author of wp abstracts and see if there is a better workaround for the future.

[2017-01-14 00:08] moorepants commented on #20
@raliang This is one item for you to start with.

[2017-01-14 00:08] moorepants commented on #23
@raliang This is the page I'd like you to work on.

[2017-01-17 21:58] moorepants opened #32 "The contact us form may not be working"
A rep from iteris said he's sent multiple emails through the form but I haven't seen them on my end.

[2017-01-17 21:59] raliang commented on #20
@moorepants Mind if I create a Google Sheet in the ICSC folder listing potential emails to add so you can check them?

[2017-01-17 22:02] moorepants commented on #20
Yes, you can then import the emails to mailchimp after you get them together.

[2017-01-17 23:25] raliang commented on #20
@moorepants at the moment, I have 25 emails compiled in the Sheet labeled "Emails". Can you please check them for me if you have time? Or should I just add them all in now?

[2017-01-18 00:09] moorepants commented on #20
If you found them on academic papers that are about bicycling, just add them. I don't need to review.

[2017-01-18 04:56] moorepants commented on #32
See: https://help.dreamhost.com/hc/en-us/articles/215036118-Sender-domain-policy-FAQs

- Yumi successfully used the form with a gmail address.
- Jason used the form with a gmail address.
- fake email moses@dinkle.com didn't seem to com through
- tried jal@iteris.com and it worked. this is odd because this guy claimed he submitted to the form twice

[2017-01-18 17:01] moorepants commented on #32
Mont and Deb both successfully used the form with ucd and gmail addresses each. The only one that hasn't worked so far is the fake address: moses@dinkle.com.

I'm having similar issues with the form here http://www.moorepants.info/mech-cap/. It seems some emails are lost in the dreamhost server.

[2017-01-18 18:24] moorepants opened #33 "UCD Email Servers rates our emails high for spam"
Can we lower this?

Example:

[code]

[2017-01-18 19:15] moorepants opened #34 "Ask various organizations to advertise for us"
There are many organizations that we want to inform about the conference. We need to send an informative email to the right people at these organizations and also ask them if they'd be willing to advertise to their members and audience via email, newsletters, social media, and/or their website. To make this easy for them we need to have blurbs available for them to essentially copy and paste into

[2017-01-18 19:17] moorepants commented on #27
@krnebreda once you accept the invitation to this repository I'll assign you to this task.

[2017-01-18 19:28] moorepants opened #35 "See if we can get AICP certifications for the workshop"
The planning association gives out certificates. This could make our workshops more attractive.

[2017-01-19 02:52] krnebreda commented on #27
- created a Facebook event draft, would like you to review it before I create actual event
- created a Twitter account https://twitter.com/icsc2017 (@icsc2017)
- unfortunately #icsc2017 is not unique
- created an Instagram (@icsc2017)

[2017-01-19 18:24] moorepants commented on #27
Sounds good:

- I don't need to review the event first. Just make it and I can suggest things after. You can use text from the website. Be sure to mention the abstract submission deadline: March 1 and link to the submission info.
- Twitter hash: maybe we do #icscdavis ?

[2017-01-19 18:33] moorepants commented on #27
What should we put on instagram? I'm not even quite sure how it is used.

[2017-01-19 18:59] abemckay commented on #26
Hey Mont, did you hear back from people about the scientific committee?

[2017-01-19 19:22] krnebreda commented on #27
- Facebook event has been created: https://www.facebook.com/events/1877035429209605/
- I also have a QR code if you would like to add it to posters or anything else to spread the word about the Facebook event

- looks like #icscdavis is unique! i'll add it to the Facebook event and mention it in a tweet. I have not received an email from the ICSC website and so cannot login to add the hashtag to t

[2017-01-19 20:28] moorepants commented on #27
- Can you change the time on the facebook event to: Sep 21 **8:00 AM** to Sep 22 at 6:00 PM?
- Can you put the QR code in the Drive folder for future use?
- Let's go with #icscdavis then.
- On instagram. I'm going to make you in charge of populating that. We can use it primarily during the conference but if you want to prime it with some other images that are relevant that's good too.

[2017-01-19 20:29] moorepants commented on #27
Also how we invite people on Facebook? Maybe you can find people interested in bicycling related research and then invite?

[2017-01-19 23:50] monthubbard commented on #26
Abe;

Attached is a list of the Scientific recruitment status as of Jan 19. There are 47 people on the list.

Almost all the 2016 Committee re-upped (only 3 said no). Two (Luca and Stefanie) haven't responded but they're pretty sure since they are on the present steering committee. These are all from Europe and you already have their photos and affiliations. I would put these up first (now).

The

[2017-01-19 23:53] monthubbard commented on #34
I have already contacted two; Darell Dickey is a co-member.

  *    Davis Bicycles!
  *    Davis Bike Club

The blurb was one short paragraph with the website url.

Mont

[2017-01-20 18:21] abemckay commented on #26
Mont, thanks for the details. I can try to get this list up this morning, except I am having trouble finding the attached lists. I don't see an attachment on github or through my email notice.
Sorry to ask more from you, but could you resend the lists to me? You could try emailing me directly (mckayabe@gmail.com) or upload the list to the google drive (the "potential" list is [here](https://docs.g

[2017-01-20 18:49] monthubbard commented on #26
Abe;

Sorry I didn't realize that the attached lists wouldn't make it through. I have emailed them to you directly.

Mont

[2017-01-20 18:53] abemckay commented on #26
Got 'em. Thanks Mont!

[2017-01-20 19:45] abemckay commented on #26
Should I post their full name and title? For example, last year's site shows "Dr M. Dozza" and our excel list says "Marco Dozza". Should I follow one of those conventions or combine for full details "Dr Marco Dozza?"

[2017-01-20 19:47] moorepants commented on #26
I would follow what they did last year. The Europeans have different cultural traditions that we could be breaking if we format them like we want.

[2017-01-20 19:51] abemckay commented on #26
Roger that. Thanks Jason.
For the Americans, (which will be new) I'll try to put their full title and name?

[2017-01-20 20:40] moorepants commented on #26
Yes, you can copy how the organizing committee was done.

[2017-01-20 21:09] abemckay commented on #26
I have completed the scientific committee list, with pictures of the Europeans. I searched around for the details of the Americans and added those as well. Two people (Peter Jacobsen & Rebecca Sanders) were not on the Spotlight list, so I did not have their organization. I didn't want to get the wrong Peter Jacobsen's info, so I left their details blank. Let me know if you would like me to make an

[2017-01-20 21:42] moorepants commented on #32
The form now works for the rep from iteris and I've received another input from australia. Closing this for now unless we here of other problems.

[2017-01-20 21:42] #32 closed

[2017-01-20 21:43] moorepants commented on #30
@abemckay Can you work on this issue? If so, assign yourself.

[2017-01-20 21:45] moorepants commented on #28
@raliang Can you take on this issue since you are already working with mailchimp? If so, assign yourself.

[2017-01-20 21:49] moorepants commented on #21
Closing in favor of #34

[2017-01-20 21:49] #21 closed

[2017-01-20 21:59] moorepants commented on #27
@krnebreda These are the instructions if we want to add the Facebook RSVP stats to the front page:

2 - Link to Event on Facebook: Enter the link of your event on Facebook.
3 - Link Text: Enter text that would appear as the link.
4 - Event ID: it’s the number code at the end of your Facebook Event page.
5 - App ID: Copy the App ID from your Facebook app dashboard and paste it here.
6 - Secret Key:

[2017-01-20 22:06] moorepants opened #36 "Setup keynote speaker for Peter Furth"

[2017-01-20 22:26] moorepants commented on #3
Backup using updraftplus to dreamhost objects is setup.

[2017-01-20 22:26] #3 closed

[2017-01-20 22:45] abemckay commented on #30
Jason, I won't be abel to get to it till next Friday, and then I think it'll take me at least a week to finish.  If that's okay, then I can take it.

[2017-01-20 23:03] moorepants commented on #30
Ok, I'll assign you now. If one of the other students frees up before then I'll add them.

[2017-01-21 03:08] monthubbard commented on #26
Abe;

Two more yeses from the second half of the Sci Com list.

Eva Heinen
Lisa Aultman-Hall.

[2017-01-21 03:18] monthubbard commented on #26
I like the informality of just the name but Jason and Deb may differ.

[2017-01-21 03:22] monthubbard commented on #26
Abe;

Fast work!

A few minor tidy-ups.

Rowangould doesn't have  a hyphen.
Here's Peter Jacobsen's Linked in url with a photo.
https://www.linkedin.com/in/peter-jacobsen-aa747a41

Rebecca Sanders is with Toole Design with photo.
https://www.linkedin.com/in/rebecca-sanders-69169b4
<https://www.google.com/search?q=rowangould+UNM&oq=rowangould+UNM&aqs=chrome..69i57.4668j0j7&sourceid=chrome&ie=UTF-8#

[2017-01-23 18:00] abemckay commented on #26
Thanks Mont.
I've fixed "Rowangould" and added descriptions for the two missing ones. I'll be able to get to the pictures and new committee members on Friday.

[2017-01-23 22:11] kngissah commented on #34
@moorepants
Other people that we might want to contact are:
- The Street Trust (formerly Bicycle Transportation Alliance)
- LA Bike Coalition
- SF Bike Coalition
- Vision Zero
- National Center for Bicycling and Walking
- Portland State University Initiative for Bike and Pedestrian Innovation
- Federal Highway Administration Bike and Pedestrian Programs
- Association of Pedestrian and Bicycle Prof

[2017-01-23 23:15] moorepants commented on #34
Minor edits:

To _______,

We would like to invite you to be a part of this year's International Cycling Safety Conference. For its first trip out of Europe, the conference will take place in Davis, California, the bike capital of the US and home to the US Bicycle Hall of Fame (For its first trip out of Europe the conference will take place [right here] in NorCal's biggest little town, Davis, the

[2017-01-24 01:35] kngissah commented on #34
I need access to the Google drive.

[2017-01-24 01:41] moorepants commented on #34
I added you.

[2017-01-24 21:28] moorepants opened #37 "Enable https"
- check on ucd certificate

[2017-01-26 21:52] moorepants commented on #34
Kweku, can you make the campaign subject contain both and invitation and request to help spread the work. We should invite the orgs as the main item.

[2017-01-26 21:53] moorepants commented on #34
Kweku, Mont wants to edit your text above. So give him this afternoon.

[2017-01-27 01:43] monthubbard commented on #34
Kweku;
I shortened the text to 3 paragraphs and reordered some stuff.
Mont

[2017-01-27 02:18] moorepants commented on #34
Kweku, note that he edited the text in the comment I made above.

[2017-01-27 19:52] abemckay commented on #26
Okay, I believe this task is completed. Let me know if there are more additions to the committee, or if you see any needed edits!

[2017-01-27 20:44] kngissah commented on #34
I'm not seeing the edited text.

[2017-01-27 21:11] moorepants commented on #26
Awesome, it looks great. Only issue...is that Rayming? Doesn't quite look like him to me.

[2017-01-27 21:13] moorepants commented on #34
Mont's version (copied from above):

To _______,

We would like to invite you to be a part of this year's International Cycling Safety Conference. For its first trip out of Europe, the conference will take place in Davis, California, the bike capital of the US and home to the US Bicycle Hall of Fame (For its first trip out of Europe the conference will take place [right here] in NorCal's biggest l

[2017-01-27 21:22] kngissah commented on #34
Perhaps I'm misremembering, or missing some aspect, but that looks like
your edit of the invitation. He stated that he shortened it to 3 paragraphs
and made other changes which I feel that I'm not seeing.

On Fri, Jan 27, 2017 at 1:13 PM, Jason K. Moore <notifications@github.com>
wrote:

--
*the truth lies beneath the surface*

[2017-01-27 21:24] abemckay commented on #26
Oh my, it may not be. I did some internet searching at put up my best guess. (I thought I could be a bit bolder with guessing with my fellow students.) When I put the section up, I emailed the other volunteers, asking if they wanted to change their pictures. Rayming will probably update me soon.

[2017-01-27 23:08] monthubbard commented on #26
Abe;

Would it make sense to list the americans alphabetically or even interleave them with the Europeans?

Mont

[2017-01-27 23:10] moorepants commented on #34
@monthubbard Where are your edits?

[2017-01-27 23:11] moorepants commented on #26
I agree with Mont that abc order or at least interleaving them would be preferable.

[2017-01-27 23:37] monthubbard commented on #26
I think the Europeans are already alphabetical.

[2017-01-27 23:56] monthubbard commented on #34
Here are my edits (I originally edited the first one above but it didn't get saved.

To _______,

We invite you to take part in the 6th International Cycling Safety Conference, to be held for the first time outside Europe September 21-22 in Davis, California, the bike capital of the US and home to the US Bicycle Hall of Fame .

The deadline to submit abstracts is quickly approaching. We will be ac

[2017-01-28 00:16] moorepants commented on #34
Kweku, I noticed you still have www.icsc2017.ucdavis.edu in http://icsc2017.ucdavis.edu/wp-content/uploads/2017/01/promo_flyer.pdf. That needs to be changed to icsc2017.ucdavis.edu.

[2017-01-31 00:42] moorepants commented on #20
Ok, let's call this done. Thanks @raliang!

[2017-01-31 00:42] #20 closed

[2017-01-31 20:32] moorepants opened #38 "Post this to social media and invite these people"
http://spectrum.ieee.org/cars-that-think/transportation/self-driving/the-selfdriving-cars-bicycle-problem

@krnebreda Can you share this on twitter? BTW, did you put the passwords in the drive for others to use?

[2017-02-01 17:00] moorepants commented on #28
Note that Kweku has a separate list for organizations. Can you make this a segment of the solicitation list also?

[2017-02-01 17:01] moorepants commented on #27
@krnebreda Can you stop by sometime to discuss a plan for getting the social media into a effective state?

[2017-02-01 17:19] kngissah commented on #28
I can merge the lists later today. I can also group/segment the contacts I've added. Is there a list that says where the 900 people in solicitation are from?

[2017-02-02 01:25] kngissah commented on #28
The list I made (bike advocates) can't be merged for 7 days.

[2017-02-02 02:15] moorepants commented on #28
I have a list that shows where about 3 or 4 hundred of the people are from. In the drive in the past conference materials there are some big emails lists. That has some affiliations.

[2017-02-03 18:03] moorepants commented on #29
Couple of graphs form pindgom. First is from San Jose (~10 s):
![selection_142](https://cloud.githubusercontent.com/assets/276007/22602374/ca6256e4-e9f7-11e6-8772-5154927048c7.jpg)

And Stockholm (~23 s):
![selection_141](https://cloud.githubusercontent.com/assets/276007/22602377/d22438f2-e9f7-11e6-8723-7feacc7d5371.jpg)

It seems like the server response is the vast majority. Loading the assets i

[2017-02-03 18:09] abemckay commented on #26
Okay, the Scientific Committee is A to Z. I was having trouble getting the pictures to size correctly when trying a 2 column table. I'm going to work on the other page now, but will come back to making the 2 columns when I finish.

[2017-02-03 18:11] moorepants commented on #26
@abemckay Thanks. Also make sure to get correct photos from Kelsie @krnebreda and Rayming @raliang.

[2017-02-03 18:12] moorepants commented on #26
I'll have a look at the two column issue right now.

[2017-02-03 20:55] monthubbard commented on #29
Maybe we could get a new host. This is really a big problem. Could UC Davis host it?
Mont

[2017-02-03 21:21] moorepants commented on #29
I can do an upgrade on the same host that will cost us $17 a month for the next year. This would improve it, but I'd need to ask support. I already have a support request in.

[2017-02-03 21:34] monthubbard commented on #29
Isn't it legitimate for UCD to host it? For free?

[2017-02-03 21:50] moorepants commented on #29
No, because they will not permit any custom installations of Wordpress. For example, they wouldn't support the theme I bought or any of the plugins we are using. They may be willing to support that but we'd have to pay a UCD web developer to manage it. The reason I went with my server is because I'm doing the web development for free and we don't have to ask someone else to make changes on the web

[2017-02-03 23:07] moorepants commented on #29
Some notes from Dreamhost support:

They also increased the memory limit for my main user, which may fix things.

[2017-02-03 23:32] moorepants commented on #29
The increase they made to the user's memory has significantly sped it up for me. I'm getting 1.5 second load times instead of 10+ seconds. Let me know if it seems better for you all.

[2017-02-03 23:44] monthubbard commented on #29
Much better.

[2017-02-04 00:42] moorepants opened #39 "News page needs some work with image sizes and text layout"
![selection_144](https://cloud.githubusercontent.com/assets/276007/22613748/c8bb133e-ea2f-11e6-94b0-d0b0bf44b1f7.jpg)

[2017-02-06 22:33] monthubbard commented on #26
Abe;

Some minor changes to the Scientific Committee list

3 new additions:

Tara Goddard   Nohad Toulan School of Urban Studies & Planning  Portland State University
Elliot Martin Transportation Sustainability Research Center   UC Berkeley
Noreen McDonald   Associate Professor, Department of City and Regional Planning, University of North Carolina, Chapel Hill

One (Rowangould) presently out of o

[2017-02-07 17:36] moorepants commented on #36
Done: http://icsc2017.ucdavis.edu/speakers/peter-g-furth/

[2017-02-07 17:36] #36 closed

[2017-02-10 18:56] abemckay commented on #26
Okay, the three new members are added, and the ordering if fixed around Rowangould (good spotting, Mont!). Kelsie sent me an updated picture, but still waiting for Rayming.
Let me know if you see anything else!

[2017-02-10 20:35] monthubbard commented on #26
Thanks Abe.

On Feb 10, 2017, at 10:56 AM, abemckay <notifications@github.com<mailto:notifications@github.com>> wrote:

Okay, the three new members are added, and the ordering if fixed around Rowangould (good spotting, Mont!). Kelsie sent me an updated picture, but still waiting for Rayming.
Let me know if you see anything else!

—
You are receiving this because you were mentioned.
Reply to this e

[2017-02-13 18:34] monthubbard opened #40 "Uncover the NCST link on the sponsor's page"

[2017-02-13 19:06] moorepants opened #41 "Improvements to committee images"
Note from a steering committee member:

I've asked for a screenshot of what they see and the exact browser and version. This may be an IE compatibility issue.

Some things:

- [x] Upload all the committee member images to our site instead of linking to them on other sites.
- [x] Scale all images to the same aspect ratio, reduce the size to 100-150 pixels wide, and save as 50-75% quality jpgs for s

[2017-02-13 19:07] moorepants commented on #41
@abemckay FYI, here is some info for the image issue. Note this is low priority.

[2017-02-13 19:13] moorepants commented on #41
Also here is the page load speed tool: https://tools.pingdom.com/

[2017-02-13 19:14] moorepants commented on #40
This can be fixed by increasing the sponsor logo image size or reducing the text in the box.

[2017-02-13 23:13] monthubbard opened #42 "Why do some abstracts trip the UCD spam filter?"
From: 2017 International Cycling Safety Conference <icsc2017@ucdavis.edu>
Subject: New Abstract Submitted
Date: February 10, 2017 at 3:25:13 PM PST
To: <mhubbard@ucdavis.edu>

Hello Mont Hubbard,

You have a new abstract for 2017 International Cycling Safety Conference
Abstract Title: Longitudinal Rumble Strips Require a Safety Compromise for Bicycles Versus Motor Vehicles
Abstract ID: 5

Regards,

[2017-02-14 05:46] moorepants commented on #42
This is only a problem if the UCD spam filter were to actually block the message from getting to your inbox. As of now it is just "tagging" the message with a warning. The last lines show the reasons it thinks it is spam. The main reason seems to be that is scans the body content and it thinks it is spam. Not sure what we can do about that. It does look like spam.

[2017-02-14 05:51] moorepants commented on #42
The only suggestion I have is for you to send to ithelp@ucdavis.edu with this information.

[2017-02-14 06:00] moorepants commented on #29
Dreamhost (the service provider) helped me fix one more issue. For some reason my main website files were on a west coast data center and the database was on an east coast data center. This also contributed to the speed. They have now migrated the database to the west coast datacenter and I'm getting really great load times. I'm closing this issue as solved.

[2017-02-14 06:00] #29 closed

[2017-02-14 13:37] moorepants commented on #41
@abemckay Here are some screenshots from: "I used internet explorer under windows 10"
![image003](https://cloud.githubusercontent.com/assets/276007/22930925/6979d824-f277-11e6-8645-4750edfc0895.jpg)
![image002](https://cloud.githubusercontent.com/assets/276007/22930928/6be397f8-f277-11e6-8b0c-2dc583e162a9.png)

I didn't realize that it was this bad. Internet explorer is notorious for not following

[2017-02-14 16:23] moorepants commented on #17
Ok this is finally done:

![selection_148](https://cloud.githubusercontent.com/assets/276007/22937881/ce557052-f28e-11e6-9abe-c894cfac7d56.jpg)

I'm not happy at all with how it looks but this is the request.

[2017-02-14 16:23] #17 closed

[2017-02-14 16:30] moorepants commented on #42
Another option is to change your email address in your profile on the website to your gmail address. Then the email never goes through UCD servers, so you won't get the warning.

[2017-02-14 16:35] moorepants commented on #40
This is now fixed for me. Please check on your computer to confirm.

[2017-02-14 16:35] #40 closed

[2017-02-14 16:51] moorepants commented on #34
@kngissah I see that you have about half of these sent. The abstract deadline is March 1st. I wanted these all sent by Feb 1 to give people some time to submit. What is the status on getting the remaining ones out the door?

[2017-02-14 17:56] moorepants commented on #38
Done.

[2017-02-14 17:56] #38 closed

[2017-02-14 17:56] moorepants commented on #33
This is the same issue as #42. Closing this in favor of the more recent one.

[2017-02-14 17:56] #33 closed

[2017-02-14 18:14] moorepants opened #43 "Invite self-driving car bicyclists detection algorithm researchers"
- [x] Ford (Jason contacted two different people)
- [ ] Google (who wrote this report: https://static.googleusercontent.com/media/www.google.com/en//selfdrivingcar/files/reports/report-0616.pdf?)
- [ ] Uber
- [x] Researchers from this article: http://spectrum.ieee.org/cars-that-think/transportation/self-driving/the-selfdriving-cars-bicycle-problem
- [ ] Waymo (http://spectrum.ieee.org/cars-that-th

[2017-02-14 18:14] monthubbard commented on #40
Fixed.

On Feb 14, 2017, at 8:35 AM, Jason K. Moore <notifications@github.com<mailto:notifications@github.com>> wrote:

This is now fixed for me. Please check on your computer to confirm.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/moorepants/icsc2017.ucdavis.edu/issues/40#issuecomment-279760205>, or mute the thread<

[2017-02-14 18:15] moorepants commented on #31
Closing this. We are just giving everyone admin roles. The developer of the plugin said a future version may be different.

[2017-02-14 18:15] #31 closed

[2017-02-14 18:24] moorepants commented on #28
@raliang Can you focus on the how to get here page and make this lower priority?

[2017-02-14 18:45] moorepants opened #44 "Move the hotel information to a page of its own"
Right now we have a small blurb in the venue page. This content needs to be moved to a new enhanced page.

[2017-02-14 18:46] moorepants commented on #44
closing, we already have this in #11

[2017-02-14 18:46] #44 closed

[2017-02-14 18:46] moorepants commented on #11
The content on the venue page needs to be moved to a new page.

[2017-02-14 18:48] moorepants opened #45 "Add all important locations to the map on the front page"
There are a number of things listed on the venue page. These need to be added as "points of interest" so that they show up on the main map. This should have only the Davis locations.

Bicycle Related
- [x] Bike barn
- [x] Bike Collective
- [x] Bicycle tunnels
- [x] Bicycle stop lights
- [x] Dutch intersection
- [x] Bicycle circles
- [x] Other bike shops

Lodging
- [x] Hyatt
- [x] Hallmark
- [x] Be

[2017-02-14 18:58] moorepants opened #46 "Facebook buttons on front page don't seem to do anything"
@krnebreda do they work for you?

[2017-02-14 19:00] moorepants commented on #11
This info needs to be on there:

Check-in date is September 20, check-out date is September 23 -

 1. Hyatt Place (10 rooms):  Rooms are $175 per night plus tax, reservations need to be made by August 22.  Since this is the most convenient location for people to stay you may want to inform your speakers first and then we can open it up to other attendees if there are still rooms left.  The booking

[2017-02-14 20:53] moorepants commented on #46
Seems like the API keys are missing in the widget.

[2017-02-16 21:01] kngissah commented on #43
The group that wrote the Google report turned into/became a part of Waymo as far as I know.

[2017-02-16 21:07] moorepants commented on #43
Thanks for that. I'll try to invite Waymo. I'll see if they have a public email address.

[2017-02-16 21:08] #34 closed

[2017-02-16 22:32] krnebreda commented on #46
No, I can't seem to get the API keys to work. The event ID and link are correct though.

[2017-02-17 01:34] moorepants commented on #46
So you pasted the API keys in? Or can't get them from Facebook? I don't see any pasted in the widget interface.

[2017-02-17 01:39] moorepants commented on #34
Nice work here! Thanks.

[2017-02-17 05:42] raliang commented on #23
Added some maps for the Yolobus and driving. I'll need to write up the driving instructions. Also going to include a section for ride-share programs, like Uber and Lyft if that is ok.

[2017-02-18 01:03] abemckay commented on #41
Okay, I downloaded, adjusted the aspect ratio, resized, and then uploaded all the images for the scientific committee and students.
One issue; C. Woolsgrove's picture is now really fuzzy (it was quite wide, so the aspect ratio zoomed in). I didn't find any other pictures of him on the web. Do you think 1) leave it blurry, 2) leave it a different size, or 3) try to get a different picture?

[2017-02-21 20:47] moorepants opened #47 "Contacting bike companies and bike shops"
For sponsorships and participation.

Check in with Deb on this.

[2017-02-21 22:12] moorepants commented on #41
Maybe just ask him for a better picture.

[2017-03-02 19:40] raliang commented on #23
@moorepants I have finished setting up the how to get here page. Do you mind checking it when you have time? Can you also tell me if the links for the maps work?

[2017-03-02 20:14] moorepants commented on #23
I'll have time tomorrow to review a number of things. Sorry to be slow on this. Thank you.

[2017-03-03 18:01] moorepants opened #48 "Review process fixes"
- [x] Remove edit buttons for reviewers on assigned abstracts.
- [x] Create a reviewer login page.
- [x] In suggest type "the author requested: ..."
- [x] Change "pending" to "pending review" (or take the pending radio button away)

[2017-03-06 00:20] moorepants opened #49 "Make topics in abstract submission match those posted on call for abstracts"
Stefanie changed these after I setup the abstract software. Will need to merge them or something, as it is a bit confusing for the submitters.

[2017-03-07 16:56] moorepants opened #50 "Password reset via email may not be working."
From user:

Is it possible to reset the password resp. to send my the pw per mail? Or do you have any other solution?

[2017-03-09 15:23] moorepants commented on #23
Rayming, the page looks great. I've published it and it is live on the website. Thanks.

[2017-03-09 15:23] #23 closed

[2017-03-09 15:24] moorepants commented on #45
@raliang Would you like to work on this issue now?

[2017-03-09 15:25] moorepants commented on #41
Abe, this all looks great. Next time you are on a computer with Windows can you double check that this is fixed in internet explorer and/or edge.

I'm closing this. Thanks!

[2017-03-09 15:26] moorepants commented on #30
Looks great. Closing.

[2017-03-09 15:26] #30 closed

[2017-03-09 15:26] #26 closed

[2017-03-09 17:20] raliang commented on #45
I'll take a shot at it, but I'm not really sure how to add the points on the map. Mind if I come later today to talk to you about it?

[2017-03-09 18:06] moorepants commented on #45
In the backend of the website you need to add "Points of Interest". You should also group them in into PIO groups like: Attractions, Hotels, Conference Related, etc. Here is what the new points of interest looks like:
![image](https://cloud.githubusercontent.com/assets/276007/23763832/14c0e0f2-04b0-11e7-8f96-803cdea4183a.png)

[2017-03-10 17:49] abemckay commented on #41
Jason,
On 'edge', the organizing committee's images are still larger. I thought they looked good, so I didn't try to change them. All the other images are a uniform size. Hopefully you can see them in the screen snips below.
![image](https://cloud.githubusercontent.com/assets/25090408/23806408/684bb7d0-0576-11e7-858b-5ad0d8015ebb.png)
![image](https://cloud.githubusercontent.com/assets/25090408/23

[2017-03-10 19:02] moorepants commented on #41
Can you fix the organizing committee ones too?

[2017-03-10 19:57] abemckay commented on #41
Certainly, the organizing committee now has the same size images! Sorry to make you re-open the issue.
From edge:
![image](https://cloud.githubusercontent.com/assets/25090408/23810947/9a75e6e2-0588-11e7-8d56-a363ee588227.png)

[2017-03-10 20:42] moorepants commented on #41
Great! We're done here.

[2017-03-10 20:42] #41 closed

[2017-03-10 20:42] #48 closed

[2017-03-17 04:58] moorepants opened #51 "WP Abstracts Issues"
This issue will track a number issues to send to the WP Abstracts author.

- If an admin submits an abstract for a user via the admin panel, the admin gets the "successful" submission email instead of the abstract author.

[2017-03-22 23:36] moorepants opened #52 "Reviews can be submitted and the reviewers are not aware that they worked"
Seems like you have to refresh the browser, or log in / log out to get the recently submitted reviews to show up in the panel.

[2017-03-22 23:51] monthubbard commented on #52
Should we put a comment to that effect on the reviewer panel?
Mont

[2017-03-22 23:58] monthubbard commented on #52
Should we put a comment to that effect on the reviewer panel? I can do it.
Mont

[2017-03-23 01:04] moorepants commented on #52
Yes we should. I just haven't had time to confirm what actually happens.

[2017-03-23 13:43] moorepants commented on #52
I've tested this out. I assigned two reviews to my test user and then logged in with that user. The first review goes fine. You click "add review", fill out the form, and click submit. The you are returned to the panel and you see the review in the "my reviews" section. But on the second review, after submitting, the review doesn't show up in the "my reviews" list, so it seems you haven't submitte

[2017-03-23 13:48] moorepants commented on #52
I've updated the page with this warning:

Important Note: Due to a bug in the software, if you submit multiple reviews in a row, only the first review will show in the "My Reviews" section until you log out and log back in. When you press submit, the review is added to our database but it will look to you as if it was not successful. We are working on a fix.

and will contact the software author t

[2017-03-23 16:54] moorepants commented on #52
The warning looks like this:
![selection_154](https://cloud.githubusercontent.com/assets/276007/24259618/a5ae8f2a-0fae-11e7-9630-bfe0e1d87a92.jpg)

[2017-03-29 21:53] moorepants commented on #50
I've received a number of reports about this but I can't reproduce. The password reset works fine for my test user.

[2017-04-16 16:37] moorepants commented on #49
Didn't get this done. Closing.

[2017-04-16 16:37] #49 closed

[2017-04-16 16:38] moorepants commented on #46
@krnebreda It has bee two months and this is still broken. Do you plan to fix it? If not, please remove the widget.

[2017-04-16 16:39] moorepants commented on #45
@raliang I haven't seen any progress on this. Do you plan to complete this task?

[2017-04-16 16:40] moorepants commented on #43
We did what we could and got a few abstracts in this realm. Closing.

[2017-04-16 16:40] #43 closed

[2017-04-16 16:40] moorepants commented on #39
This is the way it is supposed to be. Closing.

[2017-04-16 16:40] #39 closed

[2017-04-16 16:41] moorepants commented on #22
The venue page covers this. We can add things to it later.

[2017-04-16 16:41] #22 closed

[2017-04-16 16:42] moorepants commented on #11
This is done: http://icsc2017.ucdavis.edu/lodging/

[2017-04-16 16:42] #11 closed

[2017-04-16 16:48] moorepants opened #53 "Create speaker item for each presenter"
Under "Speakers" in the WP dashboard you can create a speaker page for each speaker with this info:

- Name (top form box)
- Bio (in the text area, for now leave this blank, but we could ask each speaker for a bio to make this look really nice).
- Subtitle (this should be their job title)
- Keynote (this should only be checked for the two keynotes which is already done)

Make them all drafts until

[2017-04-16 20:35] raliang commented on #45
@moorepants My bad. I do plan to complete this. I'll get on it

[2017-04-16 20:55] raliang commented on #45
@moorepants I was just checking the POI on the page, and the lodging heading doesn't show up at the moment. Is this because I'm editing the points of interests, or is there something with the page?

[2017-04-16 21:05] moorepants commented on #45
I don't quite understand what you are describing. But maybe you haven't published the POI Group?

[2017-04-16 21:12] raliang commented on #45
ok it's fine now. Probably was because I hadn't published the POIs

[2017-04-16 21:36] moorepants commented on #45
I just listed  bunch of items at the top of this thread that should be added.

[2017-04-16 22:07] moorepants commented on #25
Fixed

[2017-04-16 22:07] #25 closed

[2017-05-04 18:26] raliang commented on #45
I've added all the things on the list to the POI section. Anything I should do here?

[2017-05-19 20:22] moorepants commented on #45
@raliang This looks good. Here are some comments from Mont:

Can you notify the correct person that several of the Points of Interest need changes?

1. The "Shretti" art museum is mis-labeled. It should be "Manetti Shrem" museum of art. Further, it is mis-located on the map.

2. ITS should be labelled as "Institute of Transportation Studies"

3. Bainer Hall should be added to show location of the

[2017-05-23 03:04] raliang commented on #45
I think all the changes have been made. Was a bit confused about the Bainer Hall part, but I think it was simply a misplacement of the POI dot.

[2017-06-27 23:27] moorepants opened #54 "Add a privacy policy page"
Something like this seems like a good thing to add:

https://scipy2017.scipy.org/ehome/220975/493437/

[2017-06-28 00:10] moorepants opened #55 "News page has some display issues on smaller screens"
![selection_177](https://user-images.githubusercontent.com/276007/27615219-883a3fae-5b5b-11e7-9169-58e480e54fe6.jpg)

[2017-06-28 00:12] moorepants opened #56 "The scientific committee table doesn't have equal column width (on smaller screens)"
![selection_178](https://user-images.githubusercontent.com/276007/27615261-bd4766e0-5b5b-11e7-83ab-cca16a18dad2.jpg)

[2017-06-28 00:37] moorepants commented on #46
I removed this since it has never been fixed.

[2017-06-28 00:37] #46 closed

[2017-06-28 00:37] moorepants commented on #45
Great work here!

[2017-06-28 00:37] #45 closed

[2017-06-28 04:04] moorepants commented on #51
More:

- Our use case did not use the text form for the abstracts. We needed 3 page mini-papers to be submitted as PDFs and the reviews were about them. The text entry form was useless for us and somewhat of a detractant to users.
- There needs to be a ranking system built in. We had to export the data, parse it all, and then write our own ranking/scoring system based on the ratings. I simple rati

[2017-07-18 17:36] moorepants commented on #53
@kngissah @raliang @krnebreda @abemckay Would any of you like to take on this task? It can be done by more than one student.

[2017-07-18 17:37] moorepants commented on #35
@monthubbard Did you want to do this? if not, I'll close this issue.

[2017-07-18 17:38] moorepants commented on #42
i looked into this, but didn't really get a suitable solution from UCD folks. Seems like this is something that they can't change for us. We have to make our emails such that it doesn't look like spam to UCD, which isn't that clear how to do. Closing.

[2017-07-18 17:38] #42 closed

[2017-07-18 19:11] moorepants opened #57 "Add a code of conduct page"

[2017-07-18 20:58] moorepants commented on #54
Done

[2017-07-18 20:58] #54 closed

[2017-08-26 19:46] moorepants commented on #51
The submitter selects a presentation type preference. The reviewers may assign sometihng different than their preference. But when you accept the abstract, the result that the submitter sees shows that their abstract was accepted with their desired preference not the presentation type select by the reviewers/admins.

[2017-09-17 02:14] moorepants commented on #53
This has been done by Vien. Closing.

[2017-09-17 02:14] #53 closed

[2017-09-26 16:14] moorepants opened #58 "Participation menu doesn't show on mobile"